.keyboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 70vmin;
  padding: 1rem;
}

.keyboardBtn {
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  font-size: larger;
}

.keyboardBtnCorrect {
  background-color: #65b6b6;
}

